h1,
h2 {
  font-family: Lato;
}

body {
  background: lightgrey;
}

main {
  background: white;
  margin: 16px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
}

.month__name {
}

.month__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 32px;
  background: grey;
  color: white;
  margin-bottom: 8px;
  padding: 8px;
}

.month__habits {
  align-self: flex-end;
}

.day {
  height: 32px;
  background: rgb(230, 226, 226);
  margin: 0 8px 8px 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
}

.calendar-container {
  display: flex;
}

.month {
  display: none;
  margin: 8px;
}

.month__days {
  width: 100%;
  margin: 0;
  overflow: auto;
  height: 400px;
}

.month--displayed {
  display: block;
}

.previousBtn {
  align-self: flex-start;
  cursor: pointer;
}

.nextBtn {
  align-self: flex-start;
  cursor: pointer;
}

.habit-status {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgb(82, 196, 82);
}

.day-number {
  display: block;
}
